.FeedItem {
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    justify-content: space-between;
}

.feedPicture img{
    border-radius: 100px;
}

.feedLink a{
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 15px;
}